
<div class="container">
    <pre></pre>
    <h1>Updating an Appointment</h1>

    <form [formGroup]='appointmentForm' novalidate class="form" (ngSubmit)='update()'>
        <pre></pre>
        <label>Appointment ID : {{appointmentForm.value.id}} </label>
        <pre></pre>
        <label>Patient name</label>
        <input formControlName='patientName' type="text" class="form-control" placeholder="Patient name" />
        <pre></pre>
        <label>Patient Email ID</label>
        <input formControlName='patientEmailId' type="text" class="form-control" placeholder="Patient Email ID" />
        <pre></pre>
        <label>Patient Contact Number</label>
        <input formControlName='patientContactNo' type="text" class="form-control" placeholder="Patient Contact Number" />
        <pre></pre>
        <label>Patient Date of Birth</label>
        <input formControlName='patientDateOfBirth' type="date" class="form-control" placeholder="Patient Date of Birth" />
        <pre></pre>
        <label>Appointment Date and Time</label>
        <input formControlName='appointmentDateTime' type="datetime-local" class = "form-control">
        <pre></pre>
        <label>Choose Doctor</label>
        <select [compareWith]="compareFn" formControlName='doctor' class = "form-control"  placeholder="Patient Date of Birth" >  
            <option *ngFor="let doctor of doctors" [ngValue]="doctor" >{{doctor.name}}</option>  
        </select>
        <pre></pre>
        <button class="btn btn-info">Update</button>
      </form>
  </div>